*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bernard MT Condensed';
}

#idNavBar{
    display: grid;
    grid-template-columns: 400px minmax(min-content,1fr) minmax(70px,150px);
    grid-template-rows: minmax(min-content, 60px);
    grid-auto-flow: dense;
    background: linear-gradient(red, rgb(107, 15, 15));
    margin: 10px 20px;
    border-radius: 10px;
    border: 5px  solid #000000 ;
    justify-items: center;
    align-items:center;
    padding: 10px;
}

img{
    width: 140px;
    height: 140px;
    float:left;
}

#idLogo:hover{
    cursor: pointer;
}


#idBear{
    font-size: 30px;
    font-family: 'Bernard MT Condensed';
    padding: 40px 0px;
    float: right;
    font-weight: bold;
}

#idCategorias{
    font-size: 30px;
}


.categoria{
    display:  inline-grid;
    margin: 0px 60px;
    transition: .2s;
    font-weight: none;
}


a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: .1s;
}

a:hover{
    color: #000;
    text-decoration-style:solid ;
    text-decoration: underline #000;
    font-size: 40px;
}

